<app-navigation></app-navigation>
<div class="test-form">
  <mat-card>
    <mat-card-content>
      <h1>Comprueba si eres o no sospechoso de COVID</h1>
      <form>
        <p><mat-checkbox>¿Tiene Tos?</mat-checkbox></p>
        <p><mat-checkbox>¿Tiene Cefalea?</mat-checkbox></p>
        <p><mat-checkbox>¿Tiene Congestion Nasal?</mat-checkbox></p>
        <p><mat-checkbox>¿Tiene Dificultad respiratoria?</mat-checkbox></p>
        <p><mat-checkbox>¿Tiene dolor de garganta?</mat-checkbox></p>
        <p><mat-checkbox>¿Tiene fiebre?</mat-checkbox></p>
        <p><mat-checkbox>¿Tiene diarrea?</mat-checkbox></p>
        <p><mat-checkbox>¿Tiene nauseas?</mat-checkbox></p>
        <p><mat-checkbox>¿Tiene anosmia pulmornar?</mat-checkbox></p>
        <p><mat-checkbox>¿Tiene dolor abdominal?</mat-checkbox></p>
        <p><mat-checkbox>¿Tiene dolor de articulaciones?</mat-checkbox></p>
        <p><mat-checkbox>¿Tiene dolor muscular?</mat-checkbox></p>
        <p><mat-checkbox>¿Tiene dolor de pechi?</mat-checkbox></p>
        <p><mat-checkbox>¿Otros?</mat-checkbox></p>
        <mat-label>¿Semanas?</mat-label>

        <mat-form-field>
          <input matInput placeholder="Semanas">
        </mat-form-field>
        <button mat-raised-button color="primary"
        >Probar
        </button>


      </form>
    </mat-card-content>
  </mat-card>
</div>

